*~
.dockerignore*
Dockerfile*

.env*
*.bak
*.log
*.pid
*.seed
*.sw[po]

.*~
.coverage*
.grunt
.idea
.lock-wscript

coverage.xml
pylintrc
.pylintrc

bower_components
coverage
coverage-reports
lib-cov
logs
node_modules
pids
reports
test-reports
tmpdir
venv
sendcall

build/Release

##  generated templates files
##  note: usage "cp *.sample *

Makefile.local

.cache
.ropeproject/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.suo
*.ntvs*
*.njsproj
*.sln
config.json
*.ini
kube_*_config*
vendor
*.out
debug
